@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
  font-family: "Quicksand", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header a{
  font-size: 12px;
  font-weight: 500;
}

.header{
  height: 80px;
  display: flex;
  align-items: center;
  background-color: white;
}

.container-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-part{
  width: max-content;
  display: flex;
}

.nav{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-link{
  color: #697CA6;
}

.header-logo{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 2rem;
}

.right-part{
  display: flex;
  align-items: center;
  gap: 2rem;
}
.right-part-ico-btn{
  display: flex;
  gap: 1rem;
}
.right-part-ico-btn button{
  border: none;
  background-color: rgba(1, 1, 1, 0);
  
}

.right-part-ico-btn button:hover{
  transform: scale(1.5);
  
}

.btn-getStarted{
  width: 113px;
  height: 40px;
  background-color: #D2E1FF;
  color: #3A79FF;
  border: none;
  border-radius: 2px;
  font-size: 13px;
  font-weight: 700;
}

.home-link{
  font-weight: 700;
}

.block-title{
  display: flex;
  height: 570px;
  background-color: #F4F7FF;
}

.space-title{
  height: 100%;
  display: flex;
}

.text-title{
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #3D4F9F;
}

.text-title-1, .text-title-2, .text-title-3{

}
.text-title-1 p{
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  font-weight: 500;
  line-height: 11.72px;
  letter-spacing: 0.1em;
}

.text-title-2 p{
  font-size: 48px;
  font-weight: 300;
}

.text-title-2 span{
  font-weight: 700;
}

.text-title-3 p{
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 28.65px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #8D96BD;
}

.play-title button{
 border: none;
 background-color: rgba(1, 1, 1, 0);
}

.play-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  background-color: white;
  border-radius: 50%;
}

.play-btn-el{
  width: 0;
  height: 0;
  border-radius: 10%;
  border-top: 5px solid transparent;
  border-left: 10px solid #5E81FF;
  border-bottom: 5px solid transparent;
}

.custom-logos{
  height: 146px;
}

.space-logos{
  height: 146px;
}

.logos{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.block-plan{
  background-color: #F5F8FF;
}

.space-plan{
  height: 776px;
  justify-content: center;
  align-items: center;
}

.text-plan{
  display: flex;
  flex-direction: column;
}

.text-plan div{
  padding-bottom: 1rem;
}

.button-void{
  padding-top: 2rem;
}
.text-plan p{
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  color: #3D4F9F;
}

.text-plan span{
  font-weight: 700;
  font-size: 36px;
  color: #3D4F9F;
}

.text-plan h1{
  color: #3D4F9F;
  font-size: 36px;
}

.review-plan p{
  font-size: 15px;
  color: #8D96BD;
}

.button-void{
  display: flex;
}
.button-void button{
  width: 130px;
  height: 43px;
}

.f-btn button{
  background-color: #4C85FF;
  color: white;
  border: none;
}

.s-btn button{
  background-color: rgba(1, 1, 1, 0);
  color: #ADB4D2;
  border: 1px solid #D1D1E4;
}

.img-plan{
  display: flex;
}

.space-about{
  height: 885px;
  background-color: white;
  align-items: center;
}

.block-about{
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

.title-about{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #3D4F9F;
}

.title-about p{ 
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  font-weight: medium;
}

.title-about h1{
  font-size: 24px;
  font-weight: medium;
}

.features-about{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.features-about h1{
  font-size: 14px;
  font-weight: bold;
  color: #4074F8;
  padding-bottom: 15px;
  padding-top: 25px;
}

.features-about p{
  font-size: 11px;
  color: #ADB3CB;
  text-align: center;
}

.features-about hr{
  width: 28px;
  background-color: #DAE4FE;
  opacity: 100%;
}

.case{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.button-about{ 
  display: flex;
  justify-content:  center;
  align-items: center;
  gap: 1rem;
}

.button-about hr{
  width: 15px;
  background-color: #DAE4FE;
  opacity: 100%;
}

.block-about p{
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  color: #ADB3CB;
  margin: 0;
}

.button-about button{
  width: 113px;
  height: 43px;
  font-size: 13px;
  border: none;
  font-weight: 600;
}

.fir-btn button{
  color: #D43F3F;
  background-color: #FFD7D7;
}

.sec-btn button{
  color: #3A79FF;
  background-color: #D2E1FF;
}

.bg-stats{
  background: linear-gradient(to left, #D8E3FE 50%, #5E80FF 50%);
}

.block-stats{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 343px;
  gap: 14rem;
}

.stats-first{
  display: flex;
  flex-direction: column;
  align-items: end;
  text-align: end;
  gap: 1rem;
}

.stats-second{
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: start;
  gap: 1rem;
}

.stats-first p{
  color: white;
  font-size: 18px;
  font-weight: 500;
}

.stats-first h1{
  color: white;
  font-size: 48px;
  font-weight: 400;
}

.stats-second p{
  color: #5E80FF;
  font-size: 18px;
  font-weight: 500;
}

.stats-second h1{
  color: #5E80FF;
  font-size: 48px;
  font-weight: 400;
}
